body{
    background-color: aquamarine;
}
button{
    background-color: brown;
    font-size: xx-small;
    
}
.letragrande{
    font-size: xx-large;
    color: chocolate;
}
.colordire{
    color: cornsilk;
}
